<md-card md-theme="default" md-colors="{background: 'default-primary'}" class="responsive-card filter-card wrap-card control-card">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Filters</span>
            <div flex >
                <md-tabs md-dynamic-height md-border-bottom class="md-primary" >
                    <md-tab label="RAM">
                        <md-content class="md-padding" md-colors="{background: 'default-primary-900'}">
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.ram1' data-ng-true-value="'2GB'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    2GB
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.ram2' data-ng-true-value="'4GB'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    4GB
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.ram3' data-ng-true-value="'8GB'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    8GB
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.ram4' data-ng-true-value="'12GB'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    12GB
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.ram5' data-ng-true-value="'16GB'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    16GB
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.ram6' data-ng-true-value="'32GB'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    32GB
                                </md-checkbox>
                            </md-card>
                        </md-content>
                    </md-tab>
                    <md-tab label="Brand">
                        <md-content class="md-padding" md-colors="{background: 'default-primary-900'}">
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.brand1' data-ng-true-value="'ACER'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    ACER
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.brand2' data-ng-true-value="'ASUS'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    ASUS
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.brand3' data-ng-true-value="'HP'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    HP
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.brand4' data-ng-true-value="'Lenovo'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    Lenovo
                                </md-checkbox>
                            </md-card>
                        </md-content>
                    </md-tab>
                    <md-tab label="Screen">
                        <md-content class="md-padding" md-colors="{background: 'default-primary-900'}">
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.screen1' data-ng-true-value="'11.6&#34'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    11.6&#34
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.screen2' data-ng-true-value="'13.3&#34'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    13.3&#34
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.screen3' data-ng-true-value="'14&#34'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    14&#34
                                </md-checkbox>
                            </md-card>
                            <md-card flex-gt-xs="30" md-colors="{background: 'default-primary-600'}" class="checkbox-card wrap-card" layout="column" layout-align="center center">
                                <md-checkbox data-ng-model='filters.screen4' data-ng-true-value="'15.6&#34'" data-ng-false-value=''  aria-label="User Payments Unsubscribed" layout="column" layout-align="center center">
                                    15.6&#34
                                </md-checkbox>
                            </md-card>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>

        </md-card-title-text>
        <md-card-title-media layout="column" layout-align="center center">
            <div class="md-media-sm card-media" layout="row" layout-align="center center"><i class="fa fa-filter fa-4x"></i></div>
            <md-button md-colors="{background: 'default-primary-500'}" ng-click="resetFilters()">Reset</md-button>
        </md-card-title-media>
    </md-card-title>
</md-card>