<md-card md-theme="default" md-colors="{background: 'default-accent'}" class="responsive-card search-card wrap-card control-card" >
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Search</span>
            <span class="md-subhead" md-colors="{color: 'default-accent-100'}">Search any product attributes here</span>
            <md-input-container>
                <label style="color: rgba(254, 254, 254, 0.7)">Search Products</label>
                <input ng-model="productSearch" md-colors="{color: 'default-accent-100'}">
            </md-input-container>
        </md-card-title-text>
        <md-card-title-media layout="column" layout-align="center center">
            <div class="md-media-sm card-media" layout="row" layout-align="center center"><i class="fa fa-search fa-4x"></i></div>
            <md-button md-colors="{background: 'default-primary-500'}" ng-click="resetSearch()">Reset</md-button>
        </md-card-title-media>
    </md-card-title>
</md-card>