
<div layout-padding>

    <ks-swiper-container
            initial-slide="1"
            loop="true"
            autoplay="3000"
            show-nav-buttons="true"
            slides-per-view="1"
            space-between="0"
            pagination-is-active="false"
            pagination-clickable="false">
        <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5]" style="text-align:center">
            <img ng-src="img/offers/offer{{s}}.png" width="80%">
        </ks-swiper-slide>
    </ks-swiper-container>

    <p layout-padding="20px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at nisl eu ipsum efficitur aliquam nec eget nisl. Nulla facilisi. Proin tristique sed orci non vehicula. Ut pharetra accumsan magna ac facilisis. Sed laoreet neque at nunc convallis, a tempor mauris dignissim. Integer lacinia suscipit ultrices. Phasellus nec sem a dolor commodo dignissim egestas vitae magna. Suspendisse ornare purus et orci facilisis pellentesque. Proin sed accumsan nunc.
        <br/><br/>
        Nam ultricies tellus ligula, non suscipit augue pretium dignissim. Cras tempor, lectus eu sodales gravida, lacus massa gravida massa, ac tincidunt lorem odio quis lacus. Phasellus nunc ante, fermentum nec mi quis, auctor imperdiet urna. Aliquam odio felis, pretium non facilisis eget, lacinia et odio. Maecenas quis varius purus. Nunc enim risus, accumsan at posuere vel, vulputate in arcu. Vestibulum mi erat, iaculis at scelerisque non, porttitor quis dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id rhoncus ipsum.
        <br/><br/>
        Sed malesuada nunc ut odio vehicula, ornare rutrum leo tincidunt. Praesent aliquam, mauris quis viverra iaculis, velit leo dignissim leo, sit amet sodales ex sem eu augue. In congue sodales molestie. Curabitur vitae nunc dolor. Vivamus blandit molestie erat quis convallis. Vivamus sed consequat est. In in vestibulum enim. Praesent ac ex malesuada, pulvinar lorem non, dictum augue. Nunc vestibulum libero ac ipsum pretium, vitae scelerisque est consectetur. Nunc molestie sapien eget lacus dapibus, vehicula feugiat libero sodales. Cras rhoncus ullamcorper mi, vitae bibendum tortor pulvinar sollicitudin. Nulla tempor nisl lectus, nec ultrices ipsum suscipit a. Curabitur ut aliquet libero. Aliquam erat volutpat.
    </p>

</div>
