
<div layout-padding>

    <ks-swiper-container
            initial-slide="1"
            loop="true"
            autoplay="3000"
            show-nav-buttons="true"
            slides-per-view="1"
            space-between="0"
            pagination-is-active="false"
            pagination-clickable="false">
        <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5]" style="text-align:center">
            <img ng-src="img/offers/offer{{s}}.png" width="80%">
        </ks-swiper-slide>
    </ks-swiper-container>

</div>
