<search></search>
<filter></filter>
{{ productFilters.filters}}
<div flex>
    <product ng-repeat="product in products
    | filter: productSearch
    | filter: filters.ram1
    | filter: filters.ram2
    | filter: filters.ram3
    | filter: filters.ram4
    | filter: filters.ram5
    | filter: filters.ram6
    | filter: filters.brand1
    | filter: filters.brand2
    | filter: filters.brand3
    | filter: filters.brand4
    | filter: filters.screen1
    | filter: filters.screen2
    | filter: filters.screen3
    | filter: filters.screen4
    | filter: pageName

"></product>
</div>

